body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #BFD3C1;
    font-size: 14pt;
}
.container {
    width: 85%;
    margin: auto;
    overflow: hidden;
    color: #001B2E;
    min-width: 290px;
}
body #showcase h1{
    font-size: 35px;
}
body h3{
    font-size: 25px;
}
body #details h1{
    font-size: 30px;
}
body #box{
    border-block: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-color: #FFE5D4;
    border-radius: 2rem;
    overflow: hidden;
    background-color: #A2BDCD;
    width: 90%;
    margin: auto;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    padding:1rem;
}
div.imgContainer{
    display: flex;
    margin: auto;
    margin-top: 2.5vh;
    width: 90%;
    justify-content: center;
    align-items: center;
}
header {
    background: #769FB6;
    color: white;
    padding-top: 2vh;
    padding-bottom: 2vh;
    min-height: 80px;
    height: 17vh;
    border-bottom: #EFC7C2 4px solid;
}
header ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}
header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding {
    float: left;
}
header #links {
    float: right;
    
}
img {
    width: 3.5vw;
    height: auto;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: auto;
    margin-bottom: auto;
    min-width: 30px;
    min-height: 30px;
}

img.demoFull {
    border-block: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-color: #13293B;
    border-radius: 0.25vw;
    overflow: hidden;
    width: 60vw;
    height: auto;
    /* padding: 5px; */
}

img.demoHalf {
    border-block: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-color: #13293B;
    border-radius: 0.25vw;
    overflow: hidden;
    width: 29.25vw;
    height: auto;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    /* padding: 5px; */
}

header #branding h1 {
    margin: 0;
}
header nav {
    float: right;
    margin-top: 10px;
}

div #branding {
    width: 16vw;
    height: 17vh;
    min-height: 80px;
    min-width: 155px;
}

canvas {
    width: 200px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}
footer {
/*            width: 90%;*/
    padding: 10px;
    background-color: #001B2E;
    border-top: solid 4px #769FB6; 
    color: whitesmoke;
}